*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body.light-mode{
    background-color: white;
}

body.dark-mode{
    background-color: black;
    color: white;
}

/* -------------- H E A D E R -------------- */

header{
    position: fixed;
    width: 100%;
    /* z-index: 10; */
}

nav{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    font-size: larger;
    text-transform: capitalize;
    background-color: orange;
    color: white;
}

.navigation a{
   text-decoration: none;
   font-weight: bolder;
   color: white;
}

.navigation{
    display: flex;
    gap: 20px;
}

.nav-icons{
    display: flex;
    gap: 100px;
}

#location>span{
  font-size: medium;
}

#toggle-theme{
   padding: 0px 10px;
   border-radius: 20px;
   text-transform: capitalize;

}

/* -------------- M A I N - B A N N E R -------------- */

.main-banner{
    width: 100%;
    height: 100vh;
    background-image: url('./images/home-page-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

#banner-content{
   width: 400px;
   height: auto;
   margin-left: 200px;
   line-height: 50px;
   padding: 20px; 
   font-size: larger;
}

#banner-content button{
    padding: 10px;
    border-radius: 20px;
    background-color: orange;
    border: none;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
}

/* -------------- A B O U T - U S - B A N N E R -------------- */

.about-us-banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 10%;
}

.about-us-wrapper{
    display: flex;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    height: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* content */

#about-us-content{
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 500px;
    text-transform: capitalize;
}

#about-us-content h2{
    color: orange;
}

#about-us-content button{
    width: 100px;
    padding: 10px;
    border-radius: 20px;
    background-color: orange;
    border: none;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    cursor: pointer;
}

/* images */

.about-us-wrapper img:nth-child(1){
   width: 200px;
   height: 250px;
   border-radius: 20px;
   position: absolute;
}

.about-us-wrapper img:nth-child(2){
   width: 200px;
   height: 250px;
   border-radius: 20px;
   position: absolute;
   bottom: 10px;
   right: 10px;
}

#images{
    border: 2px solid orange;
    padding: 10px;
    width: 450px;
    height: 530px;
    border-radius: 20px;
    position: relative;
}
