* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body.light-mode {
  background-color: white;
}

body.dark-mode {
  background-color: black;
  color: white;
}

/* -------------- H E A D E R -------------- */

header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: larger;
  text-transform: capitalize;
  background-color: orange;
  color: white;
}

.navigation a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

.navigation {
  display: flex;
  gap: 20px;
}

.nav-icons {
  display: flex;
  gap: 100px;
}

#location > span {
  font-size: medium;
}

#toggle-theme {
  padding: 0px 10px;
  border-radius: 20px;
  text-transform: capitalize;
}

/* -------------- M A I N - B A N N E R -------------- */

.main-banner {
  width: 100%;
  height: 100vh;
  background-image: url("./images/home-page-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}

#banner-content {
  width: 400px;
  height: auto;
  margin-left: 200px;
  line-height: 50px;
  padding: 20px;
  font-size: larger;
}

#banner-content button {
  padding: 10px;
  border-radius: 20px;
  background-color: orange;
  border: none;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  margin-right: 20px;
  cursor: pointer;
}

/* -------------- A B O U T - U S - B A N N E R -------------- */

.about-us-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 10%;
}

.about-us-wrapper {
  display: flex;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
  width: 1000px;
  height: 600px;
  box-shadow: orange 0px 5px 15px;
}

/* ------------------- C O N T E N T ------------------ */

#about-us-content {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  height: 500px;
  text-transform: capitalize;
}

#about-us-content h2 {
  color: orange;
}

#about-us-content button {
  width: 100px;
  padding: 10px;
  border-radius: 20px;
  background-color: orange;
  border: none;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  cursor: pointer;
}

/* -------------- I M A G E S ---------------- */

.about-us-wrapper img:nth-child(1) {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  position: absolute;
}

.about-us-wrapper img:nth-child(2) {
  width: 200px;
  height: 250px;
  border-radius: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#images {
  border: 2px solid orange;
  padding: 10px;
  width: 450px;
  height: 530px;
  border-radius: 20px;
  position: relative;
}

/* ------------------ E X P L O R E - A C T I V I T I E S ----------------- */

#activities-background {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.activities-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.activities-heading{
  text-transform: capitalize;
}

.activities-heading>h2{
  color: orange;
}

.activity-card {
  width: 450px;
  height: 560px;
  border-radius: 20px;
  overflow: hidden;
  margin-top: 50px;
  position: relative; 
  box-shadow: orange 0px 5px 15px;
}

.activity-card > img {
  width: 450px;
  height: 300px;
}

.activity-card-content{
  display: flex;
  justify-content: space-evenly;
}

.activity-details{
  width: 400px;
  height: 300px;
  font-size: large;
  padding: 20px;
  text-transform: capitalize;
}

.activity-review{
  border: 1px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: orange;
  color: white;
  height: 50px;
  width: 50px;
  padding: 40px;
  right: 20px;
  top: 255px;
  position:absolute;
  border-radius: 50%;
}

/* ----------- T O G G L E - T H E M E ---------------- */

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: yellow;
}

input:focus + .slider {
  box-shadow: 0 0 1px yellow;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
