@media(max-width:600px){

 #villain-container{
  overflow-y: hidden;
 }

    /* ----------------- T S A K - B A R ------------------ */
  #task-bar{
    width: 100%;
    justify-content: space-around;
  }

  .right-side{
   gap: 10px;
   /* margin-right: 20px; */
   font-size: small;
  }

  .left-side{
    font-size: larger;
    margin-left: 50px;
    align-items: center;
  }

  .bx-menu-alt-left{
    display: block;
  }

  #task-bar input{
    display: none;
  }
  
  .bx-menu{
    display: none;
  }

  .profile{
    display: none;
  }

/* ------------------------- S I D E - B A R ----------------------- */

#side-bar{
    width: 200px;
    display: none;
    padding-top: 100px;
    position: absolute;
    z-index: 11;
}

#side-bar i, span{
  font-size: large;
  margin: 10px 0px 10px;
}

#main-content{
  width: 100%;
}

/* ----------------- D A S H B O A R D --------------------- */

   .formater>h1{
    display: none;
   }

   .filters{
    display: none;
   }

   .formater-section{
      display: flex;
      justify-content: center;
   }

   .card{
    width: 80%;
    height: 10%;
    font-size: medium;
    margin-bottom: 30px;
   }

  .profits-range{
     padding-bottom: 20px;
  }

  /*--- CHART-SECTION ---*/

  #chart1,
  #chart2,
  #chart3,
  #chart4,
  #chart5,
  #real-time-chart {
    width: 80%;
    height: auto; 

  }
    /* TABLES-CALANDER */

    #calendar{
        width: 80%;
        height: 10%;
    }

    #page-visitor{
        width: 80%;
        height: 10%;
        margin-bottom: 30px;
    }

    #page-visitor h2 , p , i, span{
        font-size: small;
    }

    /* ------------------ U S E R ------------------- */

   .about-content{
    margin: 300px 20px 0px;
   }

   #user-info-form{
    width: 90%;
    margin: 40px 0px;

   }

   #user-info-form input{
    width: 100%;
   }

   .user-information h2{
      font-size: large;
   }

   .user-info-heading button{
      width: 30px;
      height: 30px;
   }

   .profile-card{
    display: none;
   }

   /* ---------------- M E S S A G E -------------- */

   #main-conversation-section{
    height: 100%;
   }

   #chat-section{
    width: 100%;
    height: 100%;
   }

   .chat-message{
    width: 100%;
    border: 1px solid #000;
   }

   .chat-name{
    width: 90%;
   }

   .chat-name-2{
    width: 90%;
    margin-left: 10px;
   }

   /* --------------- A N  A L Y S I S -------------- */

   .first-row{
    align-items: center;
    gap: 30px;
    height: auto;
   }
   .second-row{
    align-items: center;
    gap: 30px;
    height: auto;
    margin-top: 30px;
   }
   .third-row{
    align-items: center;
    gap: 30px;
    height: auto;
    margin: 30px 0px;
   }

   #analysis-chart-1,
   #analysis-chart-2,
   #analysis-chart-3,
   #analysis-chart-4,
   #analysis-chart-5,
   #analysis-chart-6,
   #analysis-chart-7{
      
    width: 90%;
    padding: 10px;
   }

   }
  