* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.first-row {
  margin-top: 100px;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}

#analysis-chart-1,
#analysis-chart-2,
#analysis-chart-3 {
  border-radius: 20px;
  width: 400px;
  height: 300px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.second-row {
  margin-top: 100px;
  width: 100%;
  height: 365px;
  display: flex;
  justify-content: space-evenly;
}

#analysis-chart-4 {
  width: 400px;
  height: 365px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#analysis-chart-5 {
  width: 800px;
  height: 350px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.third-row {
  border-radius: 20px;
  margin-top: 50px;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-evenly;
}

#analysis-chart-6,
#analysis-chart-7 {
  width: 700px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
