* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

#villain-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

/* --------------- S I D E - B A R  -------------- */

#side-bar {
  width: 20%;
  height: 100vh;
  background-image: linear-gradient(to bottom, blue, lightseagreen);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: left;
  position: relative;
  transition: all 0.3s ease;
  user-select: none;
}

.nav-button {
  display: flex;
  gap: 50px;
  margin-left: 10%;
  font-size: larger;
  font-weight: bolder;
  text-transform: capitalize;
  padding: 10px;
  color: white;
  cursor: pointer;
  align-items: center;
  user-select: none;
}

.nav-button:hover {
  background-image: linear-gradient(
    to bottom,
    rgb(211, 244, 255),
    rgb(211, 255, 255)
  );
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: black;
}

/* --------------- M A I N - C O N T E N T -------------- */

#main-content {
  width: 95%;
  height: 100vh;
  box-sizing: content-box;
  overflow-y: scroll;
  scrollbar-width: none;
  background-image: linear-gradient(
    to bottom,
    rgb(211, 244, 255),
    rgb(211, 255, 255)
  );

}


/* ------------- T A S K B A R -------------- */

#task-bar {
  width: 95%;
  background-image: linear-gradient(to right, blue, lightseagreen);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding: 10px 0px;
  text-transform: capitalize;
  position: fixed;
  z-index: 99;
}

#task-bar i {
  font-size: larger;
}

.left-side {
  display: flex;
  font-size: xx-large;
}

.bx-menu {
  position: absolute;
  font-size: x-large;
  right: 35px;
  top: 20px;
  color: white;
}

.right-side {
  display: flex;
  gap: 20px;
}

.right-side img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.profile {
  display: flex;
  width: 250px;
}

.bx-menu-alt-left{
  display: none;
}

input {
  border: none;
  padding: 10px;
  border-radius: 20px;
  width: 400px;
}

/* -------------------- F O R M A T T E R ---------------------- */

.formater-section {
  display: flex;
  justify-content: space-between;
  margin: 80px 20px 0px;
  border-radius: 10px;
  text-transform: capitalize;
}

.formater {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.formater-box {
  display: flex;
  gap: 10px;
  background-image: linear-gradient(to right, blue, lightseagreen);
  align-items: center;
  padding: 10px;
  color: white;
  border-radius: 10px;
}

.filters {
  display: flex;
  gap: 10px;
  align-items: center;
}

.filters > h4 {
  border: 1px solid darkcyan;
  padding: 10px;
  border-radius: 5px;
}

/* -------------------- C A R D S  ---------------------- */

#performance-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 100px;
}

.card {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  text-transform: capitalize;
  flex-wrap: wrap;
  font-size: larger;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}

.bxs-hand-up {
  color: white;
  background-color: orangered;
  padding: 10px;
  font-size: x-large;
  border-radius: 50px;
}

.bxs-pie-chart-alt-2 {
  color: white;
  background-color: orange;
  padding: 10px;
  font-size: x-large;
  border-radius: 50px;
}

.bx-line-chart {
  color: white;
  background-color: green;
  padding: 10px;
  font-size: x-large;
  border-radius: 50px;
}

.bxs-bar-chart-alt-2 {
  color: white;
  background-color: lightseagreen;
  padding: 10px;
  font-size: x-large;
  border-radius: 50px;
}

.profits-range {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  gap: 5px;
}

.bx-up-arrow-alt {
  color: green;
}

.bx-down-arrow-alt{
  color: red;
}

/* -------------------- C H A R T S ---------------------- */

#charts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;
}

#chart1,
#chart2,
#chart3,
#chart4,
#chart5,
#real-time-chart{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.997);
  border-radius: 10px;
  padding: 10px;
  height: 400px;
  width: 600px;
  color: black;
  background-color: whitesmoke;
}

.apexcharts-title-text{
  color: black !important;
}
/* ----------------- V I S I T O R S - T A B L E S ------------------------- */

#page-visitor {
  width: 600px;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  text-transform: capitalize;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.visitors-page-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border: 1px solid #000;
}

.visitors-page-heading p {
  background-color: darkcyan;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.visitor-content-heading {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  border: 1px solid #000;
  font-size: large;
}

.visitors-info {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  font-size: large;
}

/* -------------- C A L A N D E R ----------------- */

#tables-calander {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px 0px;
}

#calendar {
  width: 600px;
  height: 400px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.997);
}

.day-muted {
  color: yellowgreen !important;
  opacity: 100% !important;
  border-radius: 5px;
  font-weight: bold;
}

.cell {
  background-color: black;
  opacity: 100% !important;
  border-radius: 5px;
}

.cell-7 {
  background-color: black !important;
  opacity: 100% !important;
  color: yellowgreen !important;
  font-weight: bold !important;
}

/* ----------------- M A P ----------------- */

.map-location{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

iframe{
  border-radius: 20px;
  border: none;
  height: 80%;
  width: 80%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}