*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#main-conversation-section{
    margin-top: 56px;
    width: 30%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: whitesmoke;
    border: 1px solid #000;
}

.message-heading{
  padding: 10px;
  color: white;
  text-transform: capitalize;
  background-image: linear-gradient(to bottom, lightblue, lightseagreen);
}

.people-list{
    width: 100%;
    height: auto;
    display: flex;
    gap: 20px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.people-list>img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}