* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
#user{
  position: relative;
}
/* ------------------ C O V E R - I M A G E ------------------- */

.background-image {
  margin-top: 20px;
  height: 600px;
  background-image: url(../global-images/editing\ file\ 2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.about-content {
  color: white;
  width: 400px;
  height: auto;
  margin-left: 100px;
  font-size: x-large;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-content > button {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  text-transform: capitalize;
  background-image: linear-gradient(to bottom, blue, lightseagreen);
  color: white;
  font-weight: bold;
  border: none;
}


/* ----------------------- U S E R - I N F O ------------------------ */

#user-info-form{
    width: 60%;
    background-color: whitesmoke;
    height: auto;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user-info-heading{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.user-information>form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    justify-content: start;
    gap: 20px;
}

#user-info-form input{
    width: 300px;
}

#user-info-form h2 {
    padding: 10px;
    text-transform: capitalize;
}

#user-info-form button{
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    background-image: linear-gradient(to bottom, blue, lightseagreen);
}

.contact-information>form{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
    justify-content: start;
    gap: 20px;
}

/* -------------------- P R O F I L E - C A R D --------------------- */

#main-profile{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
  flex-wrap: wrap;
}

.profile-card>img{
 width: 100px;
 height: 100px;
 border-radius: 50px;
}

.profile-card{
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(to bottom, blue, lightseagreen);
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.profile-content{
  padding: 10px;
  text-align: center;
  text-transform: capitalize;
  color: white;
}